main {
  padding: 100px 240px;
}

p {
  margin: 0px;
  padding: 1px 0px 15px 0px;
}

div.blog-container h1 {
  font-size: 3.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

div.blog-container p {
  font-size: 1.05rem;
  padding: 8px 20px;
  line-height: 1.6rem;
  word-spacing: 0.06rem;
}

div.blog-container a {
  border-bottom: 2px solid transparent;
  transition: border-bottom .1s ease;
}

div.blog-container a:hover {
  border-bottom: 2px solid var(--link-color);
  transition: border-bottom .2s ease;
}

ul {
  padding-left: 20px;
}
ul li {
  font-size: 1.1rem;
  line-height: 1.8rem;

}

div.blog-container h2 {
  font-size: 1.91rem;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container .blog-date {
  padding: 6px 5px 10px 5px;
  margin-bottom: 18px;
}

code {
  background-color: var(--code-background);
  padding: 0px 8px;
  border-radius: 4px;
  font-family: var(--font-family-primary);
}

pre > code {
  padding: 20px !important;
  word-spacing: 4px;
}

blockquote {
  background-color: var(--code-background);
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  border-left: 3px solid #333;
}

hr {
  border-color: var(--code-background);
  opacity: 0.3;
}

@media (max-width: 768px) {
  main {
    padding: 40px 20px;
  }
}
